$lightblueColor: #81CFE0;
$purpleColor: #B687BF;
@mixin widthHeight($width, $height) {
  width: $width;
  height: $height;
}

@mixin marginTopWidth($marginTop, $width) {
  margin-top: $marginTop;
  width: $width;
}

.margin-zero {
  margin: 0;
}

.padding-zero {
  padding: 0;
}

button, input {
  outline: none;
  border-radius: 5px;
}

body {
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}
// header
.header {
  background-color: $lightblueColor;
}

// top
.header__top-container {
  display: grid;
  grid-template-columns: 27% 35% 38%;
  padding-top: 55px;
  padding-bottom: 70px;
}

.header-top-container__burger {
  text-align: center;
  padding-left: 14%;
  padding-top: 4px;
}

.header-burger__element {
  border: none;
  background: none;
}

.header-burger__element>i {
  font-size: 220%;
}

.header-burger__element>i:hover {
  color: $purpleColor;
  transition: .2s
}

.color-white {
  color: #ffffff;
}

.header-top-container__squares {
  display: flex;
  justify-content: center;
  padding-left: 160px;
}

.header-top-container__squares>div {
  @include widthHeight(28px, 28px);
  position: relative;
}

.header-squares__yellow {
  background-color: #F1C40F;
  top: 21px;
  z-index: 1;
}

.header-squares__purple {
  background-color: $purpleColor;
  top: 36px;
  right: 14px;
  z-index: 2;
}

.header-top-container__authorize {
  padding-left: 19%
}

.header-autorize__buttons {
  font-size: 17px;

}

.header-autorize__sign-in {
  background: none;
  border: none
}

.header-autorize__sign-in:hover {
  color: $purpleColor;
  transition: .2s
}

.header-autorize__sign-up {
  margin-left: 21px;
  @include widthHeight(136px, 43px);
  background-color: $purpleColor;
  border: none;
}

.header-autorize__sign-up:hover {
  background-color: #9C75A3;
  transition: .2s
}
// main
// top
.main-top__container {
  background-color: $lightblueColor;
  display: grid;
  justify-content: center;
}

.main-top__headline {
  text-align: center;
}

.main-top-headline__top {
  padding-top: 4px;
  font-size: 26px;
  word-spacing: -0.03rem;
}

.main-top-headline__container {
  text-align: center;
  padding: 25px 0 17px 24%;
  font-size: 16px;
}

.main-top-headline__text {
  width: 67%;
  word-spacing: -0.02rem;
}

.main-top__sign-up {
  text-align: center;
  padding-top: 3px;
}

.main-top__button {
  font-size: 17px;
  @include widthHeight(136px, 45px);
  margin-right: 7px;
  border: 0;
  border-radius: 3px;
  background-color: #fff;
  color: $lightblueColor;
}

.main-top__button:hover {
  background-color: $purpleColor;
  color: #fff;
  transition: ease .2s
}

.main-top__examples {
  display: grid;
  justify-content: center;
  height: 440px;
  padding-top: 40px;
}

.main-top__examples>div {
  box-shadow: 0 15px 20px rgba(0, 0, 0, .5);
  position: relative;
}

.main-top-examples__big-container {
  background-color: #E2B853;
  @include widthHeight(686px, 405px);
}

.main-top-examples__medium-container {
  background-color: #B687BF;
  @include widthHeight(428px, 284px);
  margin-left: 140px;
  margin-top: -229px;
}

.main-top-examples__small-container {
  background-color: #FFECE3;
  @include widthHeight(155px, 251px);
  margin-left: 454px;
  margin-top: -229px;
}

// awards
.main__awards {
  text-align: center;
  padding-top: 151px;
  padding-bottom: 62px;
}

.main-awards__headline {
  word-spacing: 0.001rem;
  margin-left: 8px;
}

.main-awards__logos {
  display: flex;
  list-style: none;
  padding-top: 115px;
  justify-content: center;
}

.main-awards-logos__li {
  margin-right: 5.7%;
}

.awards__betAwards-li {
  @include widthHeight(152px, 102px);
}

.awards__betAwards-li>img {
  margin-top: -12px;
}

.awards__nothern-li{
  margin-left: 4%;
}

.awards__thedrum-li {
  margin-left: 1.5%;
}

.main-awards__button {
  @include widthHeight(160px, 45px);
  font-size: 17px;
  margin-top: 40px;
  background-color: $purpleColor;
  color: #fff;
  border: 0;
  border-radius: 4px;
}

.main-awards__button:hover {
  background-color: #9C75A3;
  transition: .2s
}

// amazing awards
.main__amazing-things {
  margin: 0;
  background-color: #E5E5E5;
  padding-top: 130px;
  padding-bottom: 60px;
}

.amazing-things__headline {
  margin: 0;
  text-align: center;
  margin-left: -10px;
}

.amazing-things__ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: 40% 40%;
  margin-top: 89px;
  font-size: 16px;
  padding-left: 15%;
  grid-column-gap: 35px;
  grid-row-gap: 97px;
  margin-bottom: 57px;
}

.amazing-things-options-li__container {
  display: grid;
  grid-template-columns: 11% 89%;
  grid-column-gap: 11px;
}

.amazing-things-options-li-container-text-container__headline {
  margin: 0;
}

.amazing-things-options-li-container-text-container__paragraph {
  margin-top: 22px;
  word-spacing: 0.105rem;
  letter-spacing: 0.001rem;
  font-size: 15px;
  line-height: 1rem;
}

.amazing-thinks__like-img {
  @include marginTopWidth(1px, 42px)
}

.amazing-thinks__smile-img {
  @include marginTopWidth(4px, 42px)
}

.amazing-thinks__phone-img {
  @include marginTopWidth(4px, 39px)
}

.amazing-thinks__desktop-img {
  @include marginTopWidth(0px, 41px)
}

.amazing-things-options-li-container-text-container__headline {
  font-size: 15px;
}

.main-amazing-things__support {
  display: grid;
  justify-content: center;
  padding-left: 19.3%;
}

.main-amazing-things-support__container {
  width: 77.4%;
  display: grid;
  grid-template-columns: 50% 50%;
  border-top: 1px solid #000;
  padding-top: 61px;
}

.main-amazing-things-support__text {
  padding-top: 29px;
}

.amazing-things__live-support {
  margin-top: 17px;
  word-spacing: 0.105rem;
  letter-spacing: 0.001rem;
  font-size: 15px;
  line-height: 1rem;
  width: 95%
}

.main-amazing-things-support__bunner {
  padding-left: 1%;
}

.main-amazing-things-support-bunner__button {
  @include widthHeight(100%, 152px);
  border: 0;
  padding: 0;
  background: #b687bf;
  color: #fff;
  display: flex;
  justify-content: center;
}

.main-amazing-things-support-bunner-button-first {
  font-size: 57px;
  margin: 0;
}

.main-amazing-things-support-bunner-button-second {
  font-size: 24px;
  margin: 30px 0 0 10px
}

// container blockqoute
.main__container-blockqoute {
  background-color: #2e2e2e;
  display: grid;
  justify-content: center;
  text-align: center;
  padding-top: 79px;
}

.main-container-blockqoute__paragraph {
  padding-left: 14%;
  width: 72%;
  font-size: 1.4rem;
}

.main-container-blockqoute__img {
  width: 43px;
  margin-left: 7px;
}

.main-container-blockqoute__paragraph {
  margin-top: 28px;
  padding-top: 21px;
  line-height: 1.9rem;
  word-spacing: 0.06rem;
}

.main-container-blockqoute__container-name {
  display: flex;
  justify-content: center;
  padding-bottom: 67px;
}

.main-container-blockqoute-container-name__img {
  color: #f1c40f;
  @include widthHeight(35px, 35px);
}

.main-container-blockqoute-container-name__tire {
  font-size: 38px;
  margin-top: 12px;
  margin-top: -9px;
  margin-left: 0.6%;
}

.main-container-blockqoute-container-name__name {
  color: #f1c40f;
  font-size: 21px;
  margin-top: 4px;
  margin-left: 1%;
}

// container 'basic introduction'
.footer__form {
  background-color: #85CAD9;
  text-align: center;
  display: grid;
  padding-top: 73px;
  padding-bottom: 42px;
}

.footer-form__container-inputs {
  display: grid;
  justify-content: center;
  grid-template-columns: 31% 31%;
  grid-column-gap: 10%;
  padding-top: 37px;
}

.footer-form__inputs {
  font-weight: bold;
  border: 0;
  color: #D7E8EF;
  background-color: #85caD9;
  border-bottom: 2px solid #D7E8EF;
  font-size: 20px;
  padding-left: 1%
}

.footer-form__inputs::placeholder {
  color: #D7E8EF;
}

.footer-form__inputs:focus {
  border-bottom: 2px solid $purpleColor;
  color: $purpleColor;
  .footer-form__inputs::placeholder {
    color: $purpleColor;
  }
}

.footer-form__headline {
  margin: 0
}

.footer-form__input-subject {
  grid-column-start: 1;
  grid-column-end: 3;
  width: 100%;
  margin-top: 46px;
}

.footer-form__input-message {
  grid-column-start: 1;
  grid-column-end: 3;
  width: 100%;
  margin-top: 150px;
}

.footer-form__button {
  @include widthHeight(136px, 43px);
  background-color: #FFFFFF;
  color: #85caD9;
  border: 0;
  margin-top: 51px;
}

.footer-form__button:hover {
  background-color: $purpleColor;
  color: #fff;
  transition: .2s
}
// footer about
.footer__about {
  background-color: #111111;
  @include widthHeight(100%, 89px)
}

.footer-about__text {
  color: #fff;
  margin: 0;
  padding-left: 7%;
  padding-top: 31px;
  font-size: 19px
}

@media only screen and (max-width: 870px) {
  .main-top__examples {
    display: grid;
    justify-content: center;
    height: 385px;
    padding-top: 50px;
  }

  .main-top-examples__big-container {
    background-color: #E2B853;
    @include widthHeight(606px, 365px);
  }

  .main-top-examples__medium-container {
    background-color: #B687BF;
    @include widthHeight(368px, 264px);
    margin-left: 113px;
    margin-top: -229px;
  }

  .main-top-examples__small-container {
    background-color: #FFECE3;
    @include widthHeight(155px, 251px);
    margin-left: 380px;
    margin-top: -208px;
  }

  .main-awards__logos {
    padding-top: 60px
  }

  .awards__betAwards-li>img {
    margin-top: 0
  }

  .main-awards__logos>li>img {
    width: 87%;
  }

  .awards__betAwards-li>img {
    margin-top: -7%;
  }

  .amazing-things-options-li__container>img {
    width: 30px
  }

  .header-top-container__squares {
    padding-left: 14%
  }

  .header__top-container {
    grid-template-columns: 20% 25% 45%;
  }

  .main-amazing-things-support__text {
    padding-top: 2%
  }

  .main-amazing-things-support-bunner-button-first {
    font-size: 40px;
  }

  .main-amazing-things-support-bunner-button-second {
    font-size: 16px;
    margin: 10% 0 0 1%;
  }
}

@media only screen and (max-width: 650px) {
  .header__top-container {
    grid-template-columns: 26% 74%;
  }

  .header-top-container__squares {
    display: none;
  }

  .main-top__examples {
    height: 296px;
  }

  .main-top-examples__big-container {
    @include widthHeight(96%, 288px);
  }

  .main-top-examples__medium-container {
    @include widthHeight(61%, 200px);
    margin-left: 97px;
    margin-top: -176px;
  }

  .main-top-examples__small-container {
    @include widthHeight(110px, 180px);
    margin-left: 322px;
    margin-top: -166px;
  }

  .footer-form__input-message {
    margin-top: 120px
  }
}

@media only screen and (max-width: 545px) {
  .header__top-container {
    padding-bottom: 30px;
  }

  .main-top-headline__top {
    padding-top: 0px;
    font-size: 22px;
  }

  .main-awards__headline {
    font-size: 19px;
    margin-left: 0;
    padding: 0 4px;
  }

  .amazing-things__ul {
    grid-template-columns: 75%
  }

  .main-awards__logos {
    display: grid;
    grid-template-columns: 50%;
    grid-row-gap: 25px;
  }

  .awards__betAwards-li {
    height: 100%;
  }

  .awards__kiteusta-li>img {
    width: 153px
  }

  .main-amazing-things-support__container {
    width: 77.4%;
    grid-template-columns: 100%;
    grid-row-gap: 20px;
    padding-top: 52px;
  }

  .main-awards__logos > li > img {
    width: 60%;
  }

  .footer-form__headline  {
    width: 55%;
  }

  .footer-form__container-inputs {
    width: 77%
  }

  .footer-form__container-button {
    width: 51%
  }
}

@media only screen and (max-width: 475px) {
  .main-top__examples {
    height: 142px;
  }

  .main-top-examples__big-container {
    @include widthHeight(113%, 131px)
  }

  .main-top-examples__medium-container {
    width: 62%;
    height: 83px;
    margin-left: 66px;
    margin-top: -61px;
  }

  .main-top-examples__small-container {
    width: 60px;
    height: 92px;
    margin-left: 132px;
    margin-top: -58px;
  }
}

@media only screen and (max-width: 424px) {
  .header__top-container {
    grid-template-columns: 10% 90%;
  }

  .header-top-container__burger {
    padding-left: 0
  }

  .main__amazing-things {
    padding-top: 40px
  }

  .amazing-things__headline {
    margin-left: 0
  }

  .amazing-things__ul {
    grid-row-gap: 37px
  }

  .footer-form__container-inputs>input {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .footer-form__input-email {
    margin-top: 44px;
  }

  .footer-form__input-message {
    margin-top: 44px;
  }
}

@media only screen and (max-width: 330px) {
  .header-top-container__authorize {
    padding-left: 3%;
  }
}
